*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Custom
_site

# Ant
MANIFEST.MF
./*.jar
build.num
build

# ADT
.classpath
.project
.settings
local.properties
bin
gen
_layouts
proguard.cfg

# OSX
.DS_Store

# Github
gh-pages

# Gradle
.gradle
build

# IDEA
*.iml
*.ipr
*.iws
out
.idea
app/build
sign

# Maven
target
release.properties
pom.xml.*
